.login {
  color: rgb(213, 250, 171);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(000, 000, 000, 0.5),
      rgba(000, 000, 000, 0.5)
    ),
    url("../../images/haus.jpg");
  background-size: cover;
  background-position: center;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0;
}
.loginInput {
  padding: 10px;
  background-color: #fff;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.loginButton:disable:hover {
  background-color: red;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(255, 197, 176);
  border-radius: 1px solid coral;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
