.post {
  width: 43%;
  margin: 0 25px 40px 25px;
  flex-direction: column;
  padding: 0.75rem;
  /* box-shadow: 3px 3px 6px #cecfd4, -3px -3px 6px #fff; */
}

.postImg {
  width: auto;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-right: 15px;
  margin-left: 10px;
}
.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-style: 24px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 15px;
}
.line-height {
  margin: 1rem 0;
}
.postDescription {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  margin-top: 15;
  color: #9999;
}
